:root {
  --bg-color: #fff;
  --bg-card: #fff;
  --text-color: #000;
  --border-color: #ddd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media ( max-width: 1200px ) {
  html {
    font-size: 56.5%;
  }
}

@media ( max-width: 900px ) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all .4s;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: none;
  border: none;
  font-family: inherit;
}

input, select {
  background-color: var(--bg-card);
  color: var(--text-color);
  border: none;
  font-family: inherit;
}

option {
  background-color: var(--primary-color);
  color: #fff;
  font-family: inherit;
}

/* HELPER CLASSES */

.alive,
.dead,
.unknown {
  color: #fff;
  border-radius: 100px;
  padding: .5rem 1rem;
}

.alive {
  background-color: #2f9e44;
}

.dead {
  background-color: #c92a2a;
}

.unknown {
  background-color: #212529;
}

.disabled {
  cursor: not-allowed;
  opacity: .7;
}

/* to control de mobile navigation */
.menuContainer.show-menu {
  transform: translateX(0%);
}

/* to control de mobile selected character */
@media ( max-width: 900px ) {
  .selectedCharacterContainer.show-selected {
    left: 40%;
    width: 60%;
  }
  
}
/* SPINNER */

.loader {
  color: var(--primary-color);
  font-size: 10px;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  margin: 20% auto;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
  padding: 0 2.5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--bg-color);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}